
<label for="isFrontendAdmin">
	<f:translate key="tx_jobs_domain_model_companyfrontenduser.is_frontend_admin" />
</label><br />
	<f:form.checkbox property="isFrontendAdmin" value="1" /><br />
<label for="additive">
	<f:translate key="tx_jobs_domain_model_companyfrontenduser.additive" />
</label><br />
	<f:form.textfield property="additive" /><br />
<label for="department">
	<f:translate key="tx_jobs_domain_model_companyfrontenduser.department" />
</label><br />
	<f:form.textfield property="department" /><br />
<label for="poBox">
	<f:translate key="tx_jobs_domain_model_companyfrontenduser.po_box" />
</label><br />
	<f:form.textfield property="poBox" /><br />
<label for="corporate">
	<f:translate key="tx_jobs_domain_model_companyfrontenduser.corporate" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="documents">
	<f:translate key="tx_jobs_domain_model_companyfrontenduser.documents" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />