{namespace h=Sozialinfo\Jobs\ViewHelpers}
<label for="startDate">
	<f:translate key="tx_jobs_domain_model_joboffer.start_date" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="startDate" /><br />
<label for="endDate">
	<f:translate key="tx_jobs_domain_model_joboffer.end_date" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="endDate" /><br />
<label for="jobTitle">
	<f:translate key="tx_jobs_domain_model_joboffer.job_title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="jobTitle" /><br />

<label for="corporate">
	<f:translate key="tx_jobs_domain_model_joboffer.corporate" />
</label><br />
	<h:form.upload property="corporate">
		<f:if condition="{resource}">
			<f:image image="{resource}" alt="" width="50"/>
			<br /><br />
		</f:if>
	</h:form.upload>
	<br />

<label for="documents">
	<f:translate key="tx_jobs_domain_model_joboffer.documents" />
</label><br />
	<h:form.upload property="documents.0">
		<f:if condition="{resource}">
			<f:image image="{resource}" alt="" width="50"/>
			<br /><br />
		</f:if>
	</h:form.upload>
	<br />


<f:comment>

<label for="numberDaysPublication">
	<f:translate key="tx_jobs_domain_model_joboffer.number_days_publication" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="numberDaysPublication" /><br />
<label for="publicationDate">
	<f:translate key="tx_jobs_domain_model_joboffer.publication_date" />
</label><br />
	<f:form.textfield property="publicationDate" /><br />
<label for="company">
	<f:translate key="tx_jobs_domain_model_joboffer.company" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="company" /><br />
<label for="percentOf">
	<f:translate key="tx_jobs_domain_model_joboffer.percent_of" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="percentOf" /><br />
<label for="percentUp">
	<f:translate key="tx_jobs_domain_model_joboffer.percent_up" />
</label><br />
	<f:form.textfield property="percentUp" /><br />
<label for="onCall">
	<f:translate key="tx_jobs_domain_model_joboffer.on_call" />
</label><br />
	<f:form.checkbox property="onCall" value="1" /><br />
<label for="employer">
	<f:translate key="tx_jobs_domain_model_joboffer.employer" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="employer" /><br />
<label for="employerAddition">
	<f:translate key="tx_jobs_domain_model_joboffer.employer_addition" />
</label><br />
	<f:form.textfield property="employerAddition" /><br />
<label for="linkToWebsite">
	<f:translate key="tx_jobs_domain_model_joboffer.link_to_website" />
</label><br />
	<f:form.textfield property="linkToWebsite" /><br />
<label for="entryAgreement">
	<f:translate key="tx_jobs_domain_model_joboffer.entry_agreement" />
</label><br />
	<f:form.checkbox property="entryAgreement" value="1" /><br />
<label for="entryImmediately">
	<f:translate key="tx_jobs_domain_model_joboffer.entry_immediately" />
</label><br />
	<f:form.checkbox property="entryImmediately" value="1" /><br />
<label for="jobLocation">
	<f:translate key="tx_jobs_domain_model_joboffer.job_location" />
</label><br />
	<f:form.textfield property="jobLocation" /><br />
<label for="zipJobLocation">
	<f:translate key="tx_jobs_domain_model_joboffer.zip_job_location" />
</label><br />
	<f:form.textfield property="zipJobLocation" /><br />
<label for="jobDescription">
	<f:translate key="tx_jobs_domain_model_joboffer.job_description" />
</label><br />
	<f:form.textfield property="jobDescription" /><br />
<label for="applicationTo">
	<f:translate key="tx_jobs_domain_model_joboffer.application_to" />
</label><br />
	<f:form.textfield property="applicationTo" /><br />
<label for="emailTo">
	<f:translate key="tx_jobs_domain_model_joboffer.email_to" />
</label><br />
	<f:form.textfield property="emailTo" /><br />
<label for="furtherInformation">
	<f:translate key="tx_jobs_domain_model_joboffer.further_information" />
</label><br />
	<f:form.textfield property="furtherInformation" /><br />
<label for="assignmentReference">
	<f:translate key="tx_jobs_domain_model_joboffer.assignment_reference" />
</label><br />
	<f:form.textfield property="assignmentReference" /><br />
<label for="postalAddresEqualToRegistrationAddress">
	<f:translate key="tx_jobs_domain_model_joboffer.postal_addres_equal_to_registration_address" />
</label><br />
	<f:form.checkbox property="postalAddresEqualToRegistrationAddress" value="1" /><br />
<label for="postalAddressTitle">
	<f:translate key="tx_jobs_domain_model_joboffer.postal_address_title" />
</label><br />
	<f:form.checkbox property="postalAddressTitle" value="1" /><br />
<label for="postalAddressFirstName">
	<f:translate key="tx_jobs_domain_model_joboffer.postal_address_first_name" />
</label><br />
	<f:form.textfield property="postalAddressFirstName" /><br />
<label for="postalAddressName">
	<f:translate key="tx_jobs_domain_model_joboffer.postal_address_name" />
</label><br />
	<f:form.textfield property="postalAddressName" /><br />
<label for="postalAddressCompany">
	<f:translate key="tx_jobs_domain_model_joboffer.postal_address_company" />
</label><br />
	<f:form.textfield property="postalAddressCompany" /><br />
<label for="postalAddressAdditive">
	<f:translate key="tx_jobs_domain_model_joboffer.postal_address_additive" />
</label><br />
	<f:form.textfield property="postalAddressAdditive" /><br />
<label for="postalAddressDepartment">
	<f:translate key="tx_jobs_domain_model_joboffer.postal_address_department" />
</label><br />
	<f:form.textfield property="postalAddressDepartment" /><br />
<label for="postalAddressStreetNr">
	<f:translate key="tx_jobs_domain_model_joboffer.postal_address_street_nr" />
</label><br />
	<f:form.textfield property="postalAddressStreetNr" /><br />
<label for="postalAddressPoBox">
	<f:translate key="tx_jobs_domain_model_joboffer.postal_address_po_box" />
</label><br />
	<f:form.textfield property="postalAddressPoBox" /><br />
<label for="postalAddressZip">
	<f:translate key="tx_jobs_domain_model_joboffer.postal_address_zip" />
</label><br />
	<f:form.textfield property="postalAddressZip" /><br />
<label for="postalAddressCity">
	<f:translate key="tx_jobs_domain_model_joboffer.postal_address_city" />
</label><br />
	<f:form.textfield property="postalAddressCity" /><br />
<label for="comments">
	<f:translate key="tx_jobs_domain_model_joboffer.comments" />
</label><br />
	<f:form.textfield property="comments" /><br />

</f:comment>