
<table class="tx-jobs" >
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.start_date" />
		</td>
		<td>
		{jobOffer.startDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.end_date" />
		</td>
		<td>
		{jobOffer.endDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.number_days_publication" />
		</td>
		<td>
		{jobOffer.numberDaysPublication}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.publication_date" />
		</td>
		<td>
		{jobOffer.publicationDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.job_title" />
		</td>
		<td>
		{jobOffer.jobTitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.company" />
		</td>
		<td>
		{jobOffer.company}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.corporate" />
		</td>
		<td>
			<f:if condition="{jobOffer.corporate}">
				<f:then>
					<a href="{jobOffer.corporate.originalResource.publicUrl}" target="_blank">
						<f:image image="{jobOffer.corporate}" width="468c" minWidth="468" maxWidth="468" height="373c" minHeight="373" maxHeight="373" alt="" />
					</a>
				</f:then>
				<f:else>
					kein corporate vorhanden
				</f:else>
			</f:if>

		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.documents" />
		</td>
		<td>
			<f:if condition="{jobOffer.documents}">
				<f:then>
					<f:for each="{jobOffer.documents}" as="file" >
						<a href="{file.originalResource.publicUrl}">
							{file.originalResource.name}
						</a>
					</f:for>
				</f:then>
				<f:else>
					keine dokumente hochgeladen
				</f:else>
			</f:if>

		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.percent_of" />
		</td>
		<td>
		{jobOffer.percentOf}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.percent_up" />
		</td>
		<td>
		{jobOffer.percentUp}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.on_call" />
		</td>
		<td>
		{jobOffer.onCall}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.employer" />
		</td>
		<td>
		{jobOffer.employer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.employer_addition" />
		</td>
		<td>
		{jobOffer.employerAddition}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.link_to_website" />
		</td>
		<td>
		{jobOffer.linkToWebsite}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.entry_date" />
		</td>
		<td>
		{jobOffer.entryDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.entry_agreement" />
		</td>
		<td>
		{jobOffer.entryAgreement}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.entry_immediately" />
		</td>
		<td>
		{jobOffer.entryImmediately}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.job_location" />
		</td>
		<td>
		{jobOffer.jobLocation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.zip_job_location" />
		</td>
		<td>
		{jobOffer.zipJobLocation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.job_description" />
		</td>
		<td>
		{jobOffer.jobDescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.application_to" />
		</td>
		<td>
		{jobOffer.applicationTo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.email_to" />
		</td>
		<td>
		{jobOffer.emailTo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.further_information" />
		</td>
		<td>
		{jobOffer.furtherInformation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.application_deadline" />
		</td>
		<td>
		{jobOffer.applicationDeadline -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.assignment_reference" />
		</td>
		<td>
		{jobOffer.assignmentReference}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.postal_addres_equal_to_registration_address" />
		</td>
		<td>
		{jobOffer.postalAddresEqualToRegistrationAddress}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.postal_address_title" />
		</td>
		<td>
		{jobOffer.postalAddressTitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.postal_address_first_name" />
		</td>
		<td>
		{jobOffer.postalAddressFirstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.postal_address_name" />
		</td>
		<td>
		{jobOffer.postalAddressName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.postal_address_company" />
		</td>
		<td>
		{jobOffer.postalAddressCompany}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.postal_address_additive" />
		</td>
		<td>
		{jobOffer.postalAddressAdditive}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.postal_address_department" />
		</td>
		<td>
		{jobOffer.postalAddressDepartment}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.postal_address_street_nr" />
		</td>
		<td>
		{jobOffer.postalAddressStreetNr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.postal_address_po_box" />
		</td>
		<td>
		{jobOffer.postalAddressPoBox}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.postal_address_zip" />
		</td>
		<td>
		{jobOffer.postalAddressZip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.postal_address_city" />
		</td>
		<td>
		{jobOffer.postalAddressCity}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.comments" />
		</td>
		<td>
		{jobOffer.comments}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.delete_date" />
		</td>
		<td>
		{jobOffer.deleteDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.deleted_how" />
		</td>
		<td>
		{jobOffer.deletedHow}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.use_agreements" />
		</td>
		<td>
		{jobOffer.useAgreements}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.offer_is_german" />
		</td>
		<td>
		{jobOffer.offerIsGerman}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.offer_is_french" />
		</td>
		<td>
		{jobOffer.offerIsFrench}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.offer_is_italian" />
		</td>
		<td>
		{jobOffer.offerIsItalian}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_joboffer.start_date_renew" />
		</td>
		<td>
		{jobOffer.startDateRenew -> f:format.date()}
		</td>
	</tr>
</table>