
<table class="tx-jobs" >
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_companyfrontenduser.is_frontend_admin" />
		</td>
		<td>
			{companyFrontendUser.isFrontendAdmin}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_companyfrontenduser.additive" />
		</td>
		<td>
			{companyFrontendUser.additive}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_companyfrontenduser.department" />
		</td>
		<td>
			{companyFrontendUser.department}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_companyfrontenduser.po_box" />
		</td>
		<td>
			{companyFrontendUser.poBox}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_companyfrontenduser.corporate" />
		</td>
		<td>
			{companyFrontendUser.corporate.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_companyfrontenduser.documents" />
		</td>
		<td>
			{companyFrontendUser.documents}
		</td>
	</tr>
</table>