<f:layout name="Default" />

<f:section name="main">
	<h1>Edit JobOffer</h1>

	<f:flashMessages />

	<f:render partial="FormErrors" arguments="{object:JobOffer}" />

	<f:if condition="{jobOffer.processStep}==0">
		<f:form action="continueEdit" enctype="multipart/form-data" name="jobOffer" object="{jobOffer}">
			<f:render partial="JobOffer/FormFieldsEdit0" arguments="{jobOffer:jobOffer,canton:canton}" />
			<f:form.submit value="Step 2" />
		</f:form>
	</f:if>
	
	<f:if condition="{jobOffer.processStep}==1">
		<f:form action="continueEdit" enctype="multipart/form-data" name="jobOffer" object="{jobOffer}">
			<f:render partial="JobOffer/FormFieldsEdit1" arguments="{jobOffer:jobOffer}" />
			<f:form.submit value="Step3" />
		</f:form>
		<f:link.action action="previousEdit">Zurück</f:link.action>		
		<br /><br />
	</f:if>
	
	<f:if condition="{jobOffer.processStep}==2">
		<f:form action="continueEdit" enctype="multipart/form-data" name="jobOffer" object="{jobOffer}">
			<f:render partial="JobOffer/FormFieldsEdit2" arguments="{jobOffer:jobOffer}" />
			<f:form.submit value="Speichern" />
		</f:form>
		<f:link.action action="previousEdit">Zurück</f:link.action>		
		<br /><br />
	</f:if>
	<f:if condition="{jobOffer.processStep}==3">
		<f:form action="continueEdit" enctype="multipart/form-data" name="jobOffer" object="{jobOffer}">
			<f:render partial="JobOffer/FormFieldsEdit3" arguments="{jobOffer:jobOffer}" />
			<f:form.submit value="Weiter" />
		</f:form>
		<f:link.action action="previousEdit">Zurück</f:link.action>
	</f:if>
</f:section>