<f:layout name="Default" />

<f:section name="main">
	<h1>New JobOffer</h1>

	<f:flashMessages />

	<f:render partial="FormErrors" arguments="{object:JobOffer}" />

	<f:if condition="{jobOffer.processStep}==0">
		<f:form action="continue" enctype="multipart/form-data" name="jobOffer" object="{jobOffer}">
			<f:render partial="JobOffer/FormFields0" arguments="{jobOffer:jobOffer,employmentRelationship:employmentRelationship,position:position,qualification:qualification,areasOfWork:areasOfWork,qualificationChecked:qualificationChecked,areasOfWorkChecked:areasOfWorkChecked,canton:canton,cantonSelected:cantonSelected}" />
			<f:form.submit value="Step 2" />
		</f:form>
		<br /><br />
		<f:link.action action="cancel">Abbrechen</f:link.action>
		<br /><br />
	</f:if>
	
	<f:if condition="{jobOffer.processStep}==1">
		<f:form action="continue" enctype="multipart/form-data" name="jobOffer" object="{jobOffer}">
			<f:render partial="JobOffer/FormFields1" arguments="{jobOffer:jobOffer,canton:canton,cantonSelected:cantonSelected}" />
			<f:form.submit value="Step3" />
		</f:form>
		<f:link.action action="previous">Zurück</f:link.action>		
		<br /><br />
		<f:link.action action="cancel">Abbrechen</f:link.action>
		<br /><br />
	</f:if>
	
	<f:if condition="{jobOffer.processStep}==2">
		<f:form action="continue" enctype="multipart/form-data" name="jobOffer" object="{jobOffer}">
			<f:render partial="JobOffer/FormFields2" arguments="{jobOffer:jobOffer}" />
			<f:form.submit value="Step4" />
		</f:form>
		<f:link.action action="previous">Zurück</f:link.action>		
		<br /><br />
		<f:link.action action="cancel">Abbrechen</f:link.action>
		<br /><br />
	</f:if>
	<f:if condition="{jobOffer.processStep}==3">
		<f:form action="continue" enctype="multipart/form-data" name="jobOffer" object="{jobOffer}">
			<f:render partial="JobOffer/FormFields3" arguments="{jobOffer:jobOffer}" />
			<f:form.submit value="Step5" />
		</f:form>
		<f:link.action action="previous">Zurück</f:link.action>		
		<br /><br />
		<f:link.action action="cancel">Abbrechen</f:link.action>
		<br /><br />
	</f:if>
	<f:if condition="{jobOffer.processStep}==4">
		<f:form action="continue" enctype="multipart/form-data" name="jobOffer" object="{jobOffer}">
			<f:render partial="JobOffer/FormFields4" arguments="{jobOffer:jobOffer}" />
			<f:form.submit value="Speichern" />
		</f:form>
		<f:link.action action="previous">Zurück</f:link.action>		
		<br /><br />
		<f:link.action action="cancel">Abbrechen</f:link.action>
		<br /><br />
	</f:if>
</f:section>