
<label for="additive">
	<f:translate key="tx_jobs_domain_model_frontenduser.additive" />
</label><br />
	<f:form.textfield property="additive" /><br />
<label for="department">
	<f:translate key="tx_jobs_domain_model_frontenduser.department" />
</label><br />
	<f:form.textfield property="department" /><br />
<label for="poBox">
	<f:translate key="tx_jobs_domain_model_frontenduser.po_box" />
</label><br />
	<f:form.textfield property="poBox" /><br />
<label for="corporate">
	<f:translate key="tx_jobs_domain_model_frontenduser.corporate" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="documents">
	<f:translate key="tx_jobs_domain_model_frontenduser.documents" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />