
<table class="tx-jobs" >
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_frontenduser.additive" />
		</td>
		<td>
			{frontendUser.additive}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_frontenduser.department" />
		</td>
		<td>
			{frontendUser.department}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_frontenduser.po_box" />
		</td>
		<td>
			{frontendUser.poBox}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_frontenduser.corporate" />
		</td>
		<td>
			{frontendUser.corporate.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_frontenduser.documents" />
		</td>
		<td>
			{frontendUser.documents}
		</td>
	</tr>
</table>