2test
<label for="sozialinfo_member_username">
	<f:translate key="tx_jobs_domain_model_frontenduser.sozialinfo_member_username" />
</label><br />
	<f:form.textfield property="sozialinfoMemberUsername" /><br />
<label for="sozialinfo_member_password">
	<f:translate key="tx_jobs_domain_model_frontenduser.sozialinfo_member_password" />
</label><br />
	<f:form.textfield property="sozialinfoMemberPassword" /><br />
<label for="insos_member">
	<f:translate key="tx_jobs_domain_model_frontenduser.insos_member" />
</label><br />
	<f:form.textfield property="insosMemberId" /><br />
	<f:form.hidden property="step" value="1" />
