
<table class="tx-jobs" >
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_frontenduser.additive" />
		</td>
		<td>
		{frontendUser.additive}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_frontenduser.department" />
		</td>
		<td>
		{frontendUser.department}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_frontenduser.po_box" />
		</td>
		<td>
		{frontendUser.poBox}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_frontenduser.corporate" />
		</td>
		<td>
			<f:if condition="{frontendUser.corporate}">
				<f:then>
					<a href="{frontendUser.corporate.originalResource.publicUrl}" target="_blank">
						<f:image image="{frontendUser.corporate}" width="468c" minWidth="468" maxWidth="468" height="373c" minHeight="373" maxHeight="373" alt="" />
					</a>
				</f:then>
				<f:else>
					kein corporate vorhanden
				</f:else>
			</f:if>

		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_frontenduser.documents" />
		</td>
		<td>
			<f:if condition="{frontendUser.documents}">
				<f:then>
					<f:for each="{frontendUser.documents}" as="file" >
						<a href="{file.originalResource.publicUrl}">
							{file.originalResource.name}
						</a>
					</f:for>
				</f:then>
				<f:else>
					keine dokumente hochgeladen
				</f:else>
			</f:if>

		</td>
	</tr>
</table>