
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for FrontendUser</h1>

<f:flashMessages />

<table  class="tx_jobs" >
	<tr>
		<th><f:translate key="tx_jobs_domain_model_frontenduser.username" /></th>
		<th><f:translate key="tx_jobs_domain_model_frontenduser.email" /></th>
		<th><f:translate key="tx_jobs_domain_model_frontenduser.additive" /></th>
		<th><f:translate key="tx_jobs_domain_model_frontenduser.department" /></th>
		<th><f:translate key="tx_jobs_domain_model_frontenduser.po_box" /></th>
		<th><f:translate key="tx_jobs_domain_model_frontenduser.corporate" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{frontendUsers}" as="frontendUser">
		<tr>
			<td><f:link.action action="show" arguments="{frontendUser : frontendUser}"> {frontendUser.username}</f:link.action></td>
			<td><f:link.action action="show" arguments="{frontendUser : frontendUser}"> {frontendUser.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{frontendUser : frontendUser}"> {frontendUser.additive}</f:link.action></td>
			<td><f:link.action action="show" arguments="{frontendUser : frontendUser}"> {frontendUser.department}</f:link.action></td>
			<td><f:link.action action="show" arguments="{frontendUser : frontendUser}"> {frontendUser.poBox}</f:link.action></td>
			<td><f:link.action action="show" arguments="{frontendUser : frontendUser}"> {frontendUser.corporate.originalResource.name}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{frontendUser : frontendUser}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{frontendUser : frontendUser}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">Registrieren</f:link.action>
</f:section>