<f:layout name="Default" />

<f:section name="main">
	<h1>New FrontendUser</h1>

	<f:flashMessages />
	<f:render partial="FormErrors" arguments="{object:FrontendUser}" />

	<f:comment><f:debug title="FrontendUser">{frontendUser}</f:debug></f:comment>

	<f:if condition="{frontendUser.processStep}==0">
		<f:form action="continue" enctype="multipart/form-data" name="frontendUser" object="{frontendUser}">
			<f:render partial="FrontendUser/FormFields0" />
			<f:form.submit value="Step 2" />
		</f:form>
	</f:if>
	
	<f:if condition="{frontendUser.processStep}==1">
		<f:form action="continue" enctype="multipart/form-data" name="frontendUser" object="{frontendUser}">
			<f:render partial="FrontendUser/FormFields1" />
			<f:form.submit value="Step3" />
		</f:form>
		<f:link.action action="previous">Zurück</f:link.action>		
		<br /><br />
	</f:if>
	
	<f:if condition="{frontendUser.processStep}==2">
		<f:form action="continue" enctype="multipart/form-data" name="frontendUser" object="{frontendUser}">
			<f:render partial="FrontendUser/FormFields2" />
			<f:form.submit value="Speichern" />
		</f:form>
		<f:link.action action="previous">Zurück</f:link.action>		
		<br /><br />
	</f:if>
	<f:if condition="{frontendUser.processStep}==3">
		<f:form action="continue" enctype="multipart/form-data" name="frontendUser" object="{frontendUser}">
			<f:render partial="FrontendUser/FormFields3" />
			<f:form.submit value="Weiter" />
		</f:form>
	</f:if>
	
	

</f:section>