<label for="numberDaysPublication">
	<f:translate key="tx_jobs_domain_model_jobrequest.number_days_publication" /><span class="required"> (required)</span>
</label><br />
	<f:form.textfield property="numberDaysPublication" /><br /><br />

<label for="startDate">
	<f:translate key="tx_jobs_domain_model_jobrequest.start_date" /><span class="required"> (required)</span>
</label><br />
	<f:form.textfield property="startDate" value="{jobRequest.startDate->f:format.date(format:'d.m.Y')}" /><br /><br />

<f:form.hidden property="step" value="3" />