<f:layout name="Default" />

<f:section name="main">
	<h1>Edit JobRequest</h1>

	<f:flashMessages />

	<f:render partial="FormErrors" arguments="{object:JobRequest}" />

	<f:if condition="{jobRequest.processStep}==0">
		<f:form action="continueEdit" enctype="multipart/form-data" name="jobRequest" object="{jobRequest}">
			<f:render partial="JobRequest/FormFieldsEdit0" arguments="{jobRequest:jobRequest,employmentRelationship:employmentRelationship,position:position,qualification:qualification,areasOfWork:areasOfWork,qualificationChecked:qualificationChecked,areasOfWorkChecked:areasOfWorkChecked,canton:canton,cantonSelected:cantonSelected}" />
			<f:form.submit value="Step 2" />
		</f:form>
		<br /><br />
		<f:link.action action="cancelEdit">Abbrechen</f:link.action>
		<br /><br />
	</f:if>
	
	<f:if condition="{jobRequest.processStep}==1">
		<f:form action="continueEdit" enctype="multipart/form-data" name="jobRequest" object="{jobRequest}">
			<f:render partial="JobRequest/FormFieldsEdit1" arguments="{jobRequest:jobRequest,canton:canton,cantonSelected:cantonSelected}" />
			<f:form.submit value="Step3" />
		</f:form>
		<f:link.action action="previousEdit">Zurück</f:link.action>		
		<br /><br />
		<f:link.action action="cancelEdit">Abbrechen</f:link.action>
		<br /><br />
	</f:if>
	
	<f:if condition="{jobRequest.processStep}==2">
		<f:form action="continueEdit" enctype="multipart/form-data" name="jobRequest" object="{jobRequest}">
			<f:render partial="JobRequest/FormFieldsEdit2" arguments="{jobRequest:jobRequest,frontendUser:frontendUser,postalAddressTitles:postalAddressTitles,postalAddressCountries:postalAddressCountries}" />
			<f:form.submit value="Step4" />
		</f:form>
		<f:link.action action="previousEdit">Zurück</f:link.action>		
		<br /><br />
		<f:link.action action="cancelEdit">Abbrechen</f:link.action>
		<br /><br />
	</f:if>
	<f:if condition="{jobRequest.processStep}==3">
		<f:form action="continueEdit" enctype="multipart/form-data" name="jobRequest" object="{jobRequest}">
			<f:render partial="JobRequest/FormFieldsEdit3" arguments="{jobRequest:jobRequest}" />
			<f:form.submit value="Step5" />
		</f:form>
		<f:link.action action="previousEdit">Zurück</f:link.action>
		<br /><br />
		<f:link.action action="cancelEdit">Abbrechen</f:link.action>
		<br /><br />
	</f:if>
	<f:if condition="{jobRequest.processStep}==4">
		<f:form action="continueEdit" enctype="multipart/form-data" name="jobRequest" object="{jobRequest}">
			<f:render partial="JobRequest/FormFieldsEdit4" arguments="{jobRequest:jobRequest}" />
			<f:form.submit value="Speichern" />
		</f:form>
		<f:link.action action="previous">Zurück</f:link.action>	
		<br /><br />
		<f:link.action action="cancel">Abbrechen</f:link.action>
		<br /><br />
	</f:if>
</f:section>