<f:layout name="Default" />

<f:section name="main">
	<h1>New JobRequest</h1>

	<f:flashMessages />

	<f:render partial="FormErrors" arguments="{object:JobRequest}" />

	<f:if condition="{jobRequest.processStep}==0">
		<f:form action="continue" enctype="multipart/form-data" name="jobRequest" object="{jobRequest}">
			<f:render partial="JobRequest/FormFields0" arguments="{jobRequest:jobRequest}" />
			<f:form.submit value="Step 2" />
		</f:form>
		<br /><br />
		<f:link.action action="cancel">Abbrechen</f:link.action>
		<br /><br />
	</f:if>
	
	<f:if condition="{jobRequest.processStep}==1">
		<f:form action="continue" enctype="multipart/form-data" name="jobRequest" object="{jobRequest}">
			<f:render partial="JobRequest/FormFields1" arguments="{jobRequest:jobRequest,canton:canton}" />
			<f:form.submit value="Step3" />
		</f:form>
		<f:link.action action="previous">Zurück</f:link.action>		
		<br /><br />
		<f:link.action action="cancel">Abbrechen</f:link.action>
		<br /><br />
	</f:if>
	
	<f:if condition="{jobRequest.processStep}==2">
		<f:form action="continue" enctype="multipart/form-data" name="jobRequest" object="{jobRequest}">
			<f:render partial="JobRequest/FormFields2" />
			<f:form.submit value="Speichern" />
		</f:form>
		<f:link.action action="previous">Zurück</f:link.action>		
		<br /><br />
		<f:link.action action="cancel">Abbrechen</f:link.action>
		<br /><br />
	</f:if>
	<f:if condition="{jobRequest.processStep}==3">
		<f:form action="continue" enctype="multipart/form-data" name="jobRequest" object="{jobRequest}">
			<f:render partial="JobRequest/FormFields3" />
			<f:form.submit value="Weiter" />
		</f:form>
		<br /><br />
		<f:link.action action="cancel">Abbrechen</f:link.action>
		<br /><br />
	</f:if>
</f:section>