
<table class="tx-jobs" >
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.start_date" />
		</td>
		<td>
			{jobRequest.startDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.end_date" />
		</td>
		<td>
			{jobRequest.endDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.percent_of" />
		</td>
		<td>
			{jobRequest.percentOf}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.percent_up" />
		</td>
		<td>
			{jobRequest.percentUp}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.job_title" />
		</td>
		<td>
			{jobRequest.jobTitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.entry_date" />
		</td>
		<td>
			{jobRequest.entryDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.entry_agreement" />
		</td>
		<td>
			{jobRequest.entryAgreement}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.entry_immediately" />
		</td>
		<td>
			{jobRequest.entryImmediately}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.job_location" />
		</td>
		<td>
			{jobRequest.jobLocation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.job_description" />
		</td>
		<td>
			{jobRequest.jobDescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.contact_to" />
		</td>
		<td>
			{jobRequest.contactTo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.email_to" />
		</td>
		<td>
			{jobRequest.emailTo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.postal_addres_equal_to_registration_address" />
		</td>
		<td>
			{jobRequest.postalAddresEqualToRegistrationAddress}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.postal_address_title" />
		</td>
		<td>
			{jobRequest.postalAddressTitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.postal_address_first_name" />
		</td>
		<td>
			{jobRequest.postalAddressFirstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.postal_address_name" />
		</td>
		<td>
			{jobRequest.postalAddressName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.postal_address_additive" />
		</td>
		<td>
			{jobRequest.postalAddressAdditive}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.postal_address_street_nr" />
		</td>
		<td>
			{jobRequest.postalAddressStreetNr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.postal_address_po_box" />
		</td>
		<td>
			{jobRequest.postalAddressPoBox}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.postal_address_zip" />
		</td>
		<td>
			{jobRequest.postalAddressZip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.postal_address_city" />
		</td>
		<td>
			{jobRequest.postalAddressCity}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.number_days_publication" />
		</td>
		<td>
			{jobRequest.numberDaysPublication}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.publication_date" />
		</td>
		<td>
			{jobRequest.publicationDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.comments" />
		</td>
		<td>
			{jobRequest.comments}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.delete_date" />
		</td>
		<td>
			{jobRequest.deleteDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.deleted_how" />
		</td>
		<td>
			{jobRequest.deletedHow}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.use_agreements" />
		</td>
		<td>
			{jobRequest.useAgreements}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.request_is_german" />
		</td>
		<td>
			{jobRequest.requestIsGerman}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.request_is_french" />
		</td>
		<td>
			{jobRequest.requestIsFrench}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobs_domain_model_jobrequest.request_is_italian" />
		</td>
		<td>
			{jobRequest.requestIsItalian}
		</td>
	</tr>
</table>